@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* body {
    font-family: 'Roboto', sans-serif;
} */

h1,
h2,
h3 {
    font-family: 'Montserrat';
}

h1 {
    font-size: 3rem;
}

input {
    padding: 15px;
    border-radius: 10px;
    border: transparent;

    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

    background-color: #CAFE48;
    color: #2E282A;
}

input::placeholder {
    color: #2E282A;
}

.atividade-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.atividade-card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: #2E282A;

    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

.atividade-titulo {
    padding: 20px;
    border-radius: 10px;

    background-color: #CAFE48;
    color: #2E282A;

    text-align: center;
    text-transform: uppercase;
}

#primeiraInvalido,
#segundaInvalido {
    background-color: red;
    color: #fff;

    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

#primeiraValido {
    background-color: green;
    color: #fff;

    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    text-transform: uppercase;
}

#primeiroBotao:hover,
#segundoBotao:hover {
    opacity: 0.8;
    cursor: pointer;
}

#segundaTriangulo {
    background-color: #CAFE48;
    color: #2E282A;

    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

#primeiraResult,
#segundaResult {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    
    border-radius: 10px;
}




